body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(63, 63, 63);
    overflow-x: hidden;
}

nav {
    color: #ddd;
    text-align: center;
}

navh4 {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
 
navli {
    border-bottom: #fff 1px solid;
}

nav a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 1em;
    width: 10em;
    background: #333;
    cursor: pointer;
    box-sizing: border-box;
    padding: 1em;
    transition: background 1s ease-out;
}

nav a:hover {
    background: #000;
    color: #fff;
}

nav a.actief {
    background: #000;
    color: #fff;
    border-right: solid 1em red;
}

main {
    background: #fff;
    padding: 2em;
    width: 100vw;
}

img {
    max-width: 100%;
    float: left;
}

#klik {
    font-size: 2em;
    font-weight: 900;
}

#menu {
    display: none;
}

.text{
     float: right;
     padding-right: 300px;
     max-width: 400px;
}